node_modules
.next
.env
.env.*
/.npm
/.vite
dist
build
coverage
.DS_Store
.idea
.vscode
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.cache
test-results
tests
*.zip
*.tar.gz
.bundle
public/static
.next/cache
/.parcel-cache
